{% extends "templates/base.njk" %}

{% block head %}
    <script src="/static/scripts/controlPanel.js" async defer type="module"></script>
{% endblock %}

{% block body %}
    {% if err %}
        {{ err}}
    {% else %}
        <form action="/api/db_info" method="post" class="YAML">
            <h1>Redigera nyckelord:</h1>
            <textarea name="YAML" cols="120" rows="20" style="font-family: monospace">{{ dbInfoAsYAML }}</textarea>
            <input type="submit" value="Spara!">
        </form>
    {% endif %}
{% endblock %}