{% extends "templates/base.njk" %}

{% block body %}
    <h1>Vad vill du göra?</h1>
    <ul>
        <h2>Föremål:</h2>
        <li><a href="#">Skapa nytt föremål.</a></li>
        <li><a href="#">Ändra föremål.</a></li>
        <li><a href="#">Markera föremål som utgånget.</a></li>
        <li><a href="#">Permanent ta bort föremål.</a></li>
        <h2>Filer:</h2>
        <li><a href="#">Skapa ny fil.</a></li>
        <li><a href="#">Ändra fil.</a></li>
        <li><a href="#">Permanent ta bort fil.</a></li>
        <h2>Min användare:</h2>
        <li><a href="#">Jag vill ändra mitt lösenord.</a></li>
        <h2>Admin:</h2>
        <li><a href="#">Jag vill skapa en användare.</a></li>
        <li><a href="#">Jag vill ta bort en användare.</a></li>
    </ul>
{% endblock %}