{% extends "templates/base.njk" %}

{% block body %}
    <h1>Vad vill du göra?</h1>
    <ul>
        <li><a href="#">Skapa nytt föremål.</a></li>
        <li><a href="#">Ändra föremål.</a></li>
        <li><a href="#">Markera föremål som utgånget.</a></li>
        <li><a href="#">Permanent ta bort föremål.</a></li>
        <li>...</li>
        <li><a href="#">Skapa ny fil.</a></li>
        <li><a href="#">Ändra fil.</a></li>
        <li><a href="#">Permanent ta bort fil.</a></li>
    </ul>
{% endblock %}