{% extends "templates/base.njk" %}

{% block body %}
    <h1>Välkommen till husmusen!</h1>
    <p>
        Vad vill du göra?
        <ul>
            <li><a href="/app/search">Jag vill söka efter föremål.</a></li>
            <li><a href="/app/login">Jag vill komma åt kontrollpanelen.</a></li>
        </ul>
    </p>
{% endblock %}