{% extends "templates/base.njk" %}

{% block head %}
    <script src="/static/scripts/controlPanel.js" async defer type="module"></script>
{% endblock %}

{% block body %}
    <h1>Välkommen till kontrollpanelen, vad vill du göra?</h1>
    <section>
        <h1>Föremål</h1>
        <form><a href="#">Skapa nytt föremål.</a></form>
        <form><a href="#">Redigera befintligt föremål.</a></form>
        <form><a href="#">Markera föremål som utgånget.</a></form>
        <form><a href="#">Permanent ta bort föremål.</a></form>
    </section>
    <section>
        <h1>Filer</h1>
        <form><a href="#">Skapa ny fil.</a></form>
        <form><a href="#">Redigera fil.</a></form>
        <form><a href="#">Permanent ta bort fil.</a></form>
    </section>
    <section>
        <h1>Min användare</h1>
        <form action="/api/auth/change_password" method="post">
        <h2>Ändra lösenord</h2>
            <div class="text-inputs">
                <label for="current-password">Nuvarande lösenord:</label>
                <input type="password" name="currentPassword" id="current-password">
                <label for="new-password">Nytt lösenord:</label>
                <input type="password" name="newPassword" id="new-password">
            </div>
            <input type="submit" value="Byt lösenord!">
        </form>
    </section>
    <section>
        <h1>Administrativa funktioner</h1>
        <form><a href="#">Jag vill skapa en användare.</a></form>
        <form><a href="#">Jag vill ta bort en användare.</a></form>
    </section>
{% endblock %}