{% extends "templates/base.njk" %}

{% block body %}
    <header>
        <img src="/static/logo.svg" alt="">
        <h1>Välkommen till Husmusen!</h1>
        <img src="/static/logo.svg" alt="">
    </header>
    <p>Vad vill du söka efter idag?</p>
    {% include "components/search-box.njk" %}
    <a class="muted" href="/app/login">Jag är administratör och vill komma åt kontrollpanelen.</a>
{% endblock %}