{% extends "templates/base.njk" %}

{% block body %}
    <h1>Välkommen till Husmusen!</h1>
    <p>Vad vill du söka efter idag?</p>
    {% include "components/search-box.njk" %}
    <p>
        <a href="/app/about">Vad är Husmusen?</a>
    </p>
    <p>
        <a class="muted" href="/app/login">Jag är administratör och vill komma åt kontrollpanelen.</a>
    </p>
    </header>
{% endblock %}