{% extends "templates/base.njk" %}

{% block head %}
    <title>{{ item.name or "Error!" }}</title>
{% endblock %}

{% block body %}
{% if err %}
    <h1>Error!</h1>
    <p>{{ err }}</p>
{% else %}
    <div class="item single-view">
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p>Inventarienummer: {{ item.itemID }}</p>
        <p>Typ: {{ item.type }}</p>
        <p>
            Nyckelord:
            {% set keywords = item.keywords %}
            {% for keyword in item.keywords.split(",") %}
                <span class="keyword">{{ keyword }}</span>
            {% endfor %}
        </p>
        <p>Tillagd: {{ item.addedAt.toLocaleString("sv-SE") }}</p>
        <p>Uppdaterad: {{ item.updatedAt.toLocaleString("sv-SE")  }}</p>
        <table class="item-data">
            {% for field, value in item.itemData %}
                <tr>
                    <td>{{ field }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
        <table class="custom-data">
            {% for field, value in item.customData %}
                <tr>
                    <td>{{ field }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if item.isExpired %}
            <p>Objektet har utgått!</p>
            <p>item.expireReason</p>
        {% endif %}
        <h2>Filer</h2>
        {% if item.files[0] %}
            {% for file in item.files %}
                <div class="file">
                    <h3>{{ file.name }}</h3>
                    <p>{{ file.description }}</p>
                    <p>Licens: {{ file.license }}</p>
                    <p>Typ av fil: {{ file.type }}</p>
                    {% if file.type.includes("image/") %}
                        <p>Förhandsvisning:</p>
                        <img src="{{ file.url.data }}" alt="{{ file.description }}">
                    {% endif %}
                    <p>Länkar: <a href="{{ file.url.data }}" download>Ladda ned!</a> <a href="/app/file/{{ file.fileID }}">Perma-länk.</a></p>
                </div>
            {% endfor %}
        {% else %}
            <p>Det finns inga filer för det här föremålet!</p>
        {% endif %}
    </div>
{% endif %}
{% endblock %}