{% extends "templates/base.njk" %}

{% block head %}
    <title>Husmusen - Sök</title>
{% endblock %}

{% block body %}
    <h1>Sökning</h1>
    {% include "components/search-box.njk" %}
{% endblock %}